@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap'); /* Importando a fonte Abhaya Libre do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap'); /* Importando a fonte ABeeZee do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap'); /* Importando a fonte Holtwood One SC do Google Fonts */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdfaf5; 
    font-family: "Abhaya Libre", serif; /* Definindo a fonte principal aqui, evita repetir em tudo */
}

header {
    background-color: white; 
    padding: 20px 80px;     
    width: 100%;            
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    border-bottom: 1px solid #eee; 
}

header h1 {
    font-size: 25px;       
    color: #7a0000; /* Mantive a cor final que você escolheu */
    font-family: "Abhaya Libre", serif;
    font-weight: normal;
    text-transform: capitalize;
    line-height: 1.2;
    flex: 1; /* Faz o logo ocupar o lado esquerdo */
}

header nav {
    display: flex;
    gap: 30px;
    flex: 2; /* Dá espaço para o menu ficar no meio */
    justify-content: center; /* Centraliza as opções: massas, vinhos... */
}

header nav a {
    text-decoration: none;              
    font-size: 25px;      
    font-family: "Abhaya Libre", serif;
    color: #000000;
}

/* Estilo do Carrinho à direita */
header > a {
    text-decoration: none;   
    color: #000;             
    font-size: 25px;
    font-family: "Abhaya Libre", serif;
    flex: 1; /* Ocupa o lado direito */
    text-align: right; /* Empurra o texto "carrinho" para a ponta */
}

.hero {
    background-image: url('assets/cabecalho.png');
    background-size: 100% auto; 
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    color: #90171a; 
    font-size: 104px;
    width: 50%; 
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Holtwood One SC', serif;
    text-transform: uppercase;
}

.hero p {
    color: #90171a;
    font-family: 'ABeeZee', sans-serif;
    font-size: 1.2rem;
    width: 450px; 
}
.card{
width: 350px;
height: 450px;
background-color: rgb(227, 217, 211);
border-radius: 30px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 16px;
transition: .25s ease-in-out;
}
.card img{
width: 290px;
height: 320px;
object-fit: cover;
margin-top: 16px;
}
.vitrine{
height: 100vh;
background-color: rgb(237, 230, 228);
display: flex;
flex-direction: column;
gap: 50px;
align-items: center;
justify-content: center;
}
.cards{
display: flex;
align-items: center;
justify-content: space-between;
gap: 24px;
}
.card p{
font-size: 23px;
}
.card span{
text-transform: uppercase;
color: rgb(0, 0, 0,0.5);
}
.vitrine h3{
font-size: 23px;
color: rgb(130, 0 ,0);
text-transform: uppercase;
font-family: 'ABeeZee', serif;
font-weight: 300;
}
.vitrine h2{
font-size: 45px;
font-weight: 400;
}
.vitrine-titulos{
text-align: center;
}
.card:hover{
    scale: 1.05;
}